<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    </head>
    <body>
    <%- include('../partials/header-login.ejs')  %>
        <div class="wrapper">
            <div class="content">
                <h3><%= courier.name %> options: </h3>
                <form method="post" action="/users/payment/pay">
                    
                    <% courier.costs.forEach(service => { %>
                        <tr>
                            <td>
                            
                            name: <%= service.description %><br>
                            price: Rp<%= service.cost[0].value %><br>
                            estimated delivery: <%= service.cost[0].etd %>
                            
                            
                            </td>
                            <td>
                                <input  type="radio" name="shippingPrice" value="<%=service.cost[0].value%>">
                            
                            </td>
                        
                        </tr>



                       
                       
                    <% }) %>
                    <input type="hidden" name= "CityId" value="<%=prevBody.CityId%>">
                    <input type="hidden" name= "street_address" value="<%=prevBody.street_address%>">
                    <button type="submit">choose option</button>
                
                </form>

            
            
            
            </div>
        
        
        </div>

    </body>
</html>