<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    </head>
    <body>
    <%- include('../partials/header-login-from-order.ejs')  %>
        <div class= "wrapper">
            <div class ="content">
            <% let totalPrice = 0 %> 
            <% orders.forEach(order => { %>
                <% let product = order.Product %> 
                <% totalPrice += order.price %> 
                <div class="item-block">
                    <img src="<%=product.picture_source%>" alt="<%=product.name%>">
                    <div class = "item-menu">
                        name: <%= product.name %><br>
                        price: Rp <%= product.price %>
                        <form action="/users/order/delete" method="post">
                            <input type="hidden" name= "order_id" value="<%=order.id%>">
                            <input type="submit" value="cancel">
                        </form> 
                    </div>
                </div>
            <% }) %>
            </div>
            <div class = "bottom_menu">
            
            <div id="cart-options">
                <% if (orders.length !== 0) { %>
                    <h3>Total : Rp <%= totalPrice %> </h3>
                    <div class="checkout-link">
                    <a href="/users/payment/shipping" >check out</a>
                    </div>
                <% }  else { %>
                    <h3>your cart is empty</h3>
                    <a href="/products">shop now</a>

                <% } %> 
                </div>
            </div>

        </div>
        

    </body>
</html> 