<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    </head>
    <body>

    <%- include('../partials/header-login.ejs')  %> 

    <div class= "wrapper">
        <div class ="content">
        <% products.forEach(product => { %>
            <div class="item-block">
                <img src="<%=product.picture_source%>" alt="<%=product.name%>">
                <div class = "item-menu">
                    name: <%= product.name %><br><br>
                    price: Rp <%= product.price %><br><br>
                    <form action="users/order" method="post">
                        <input type="hidden" name= "ProductId" value="<%=product.id%>">
                        <input type="hidden" name= "price" value="<%=product.price%>">
                        <input type="submit" value="add to cart">
                    </form> 
                </div>
            
            </div>
        <% }) %>
        
        
        </div>
    
    
    
    
    </div>
     
    </body>
</html>